[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false
seeds = false

[programs.localnet]
atomliq = "F3xVeUGPhuyMjtWf433WDAyhcA1SbQJjAsySw2d1Pf9G"
yield_splitter = "9tGdavqZd29sZzkWo2kSjytFZtS4VzArwcshf9zvEMVg"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.test.ts\" \"tests/integration.ts\""
